#about {
  margin-top: 100px;
  padding-top: 100px;
  background: linear-gradient(135deg, #2a2c5b, #565b91, #88304e);
  }

.about-section {
  display: flex;
}

.image-container {
  flex: 1;
  margin-left: 100px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.text-container {
  flex: 1;
}

.about-image {
  max-width: 70%;
  height: auto;
  border-radius: 10%;
}


@media (max-width: 860px) {
  .about-section {
    flex-direction: column;
  }

  .image-container {
    margin-bottom: 20px;
  }


}