.banner {
    background-color: #252525;
}

#title {
    color: white !important;
    font-size: 4rem;
}

#subtitle {
    font-size: 3rem;
}

.custom-button {
    color: white;
}

.gradient-text {
    padding: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #ff50cb;
}

.paragraph {
    font-size: 1.2rem;
}

.ref {
    text-decoration: none;
    font-size: 2rem;
}


.white-text {
    color: white;
}

.gradient-icons {
    size: 1rem;
    color: #DA70D6 !important;
    margin-right: 10px;
}

.gradient-button {
    color: #DA70D6 !important;
}

.custom-image {
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(255, 0, 255, 0.8);
}