.custom-navbar {
  background: linear-gradient(135deg, #2a2c5b, #565b91, #88304e);
  position: relative;
    border-bottom: solid 3px #AD5389;
  }
  
  .custom-button {
    background-image: linear-gradient(to right, #AD5389, #3C1053);
    border: 2px solid;
    border-image: linear-gradient(to right, #AD5389, #3C1053) 1 !important;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  