body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-navbar {
  background-color: #252525;
  position: relative;
  border-bottom: solid 3px #AD5389;
}

.custom-button {
  background-image: linear-gradient(to right, #AD5389, #3C1053);
  border: 2px solid;
  border-image: linear-gradient(to right, #AD5389, #3C1053) 1 !important;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
